//Title
.title_top {
   display: flex;
   align-items: center;
   width: 341px;
   font-weight: bold;
   font-size: 40px;
   line-height: 64px;
   color: #FFFFFF;
   margin-bottom: 20px;
   padding-top: 60px;
}

//title media
@media screen and (max-width: 360px) {
   .title_top {
      width: 290px;
      font-size: 33px;
   }
}