@import '../../../mixins.scss';

//error mesage novalid field
.error__description {
   position: absolute;
   left: 0;
   bottom: -20px;
   font-weight: normal;
   font-size: 12px;
   line-height: 100%;
   color: #F15557;

   display: inline-block;
   width: 100%;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   cursor: help;

   &:hover{
      overflow: visible;
   }
}

//requiredField "*"
.requiredField {
   display: inline !important;
   position: relative;

   &:before {
      content: "*";
      position: absolute;
      top: 0;
      right: -10px;
      color: #F15557;
   }
}

//novalid field
.noValidField {
   animation: noValid 0.7s linear forwards;
}

@keyframes noValid {
   0%{
      box-shadow: 0 0 4px rgba(255, 0, 0, 0);
   }
   25%{
      box-shadow: 0 0 4px rgba(255, 0, 0, 5);
   }
   50%{
      box-shadow: 0 0 4px rgb(255, 0, 0);
   }
   75%{
      box-shadow: 0 0 4px rgba(255, 0, 0, 0.3);
   }
   100%{
      box-shadow: 0 0 4px rgb(255, 0, 0);
   }
}

//addFile media
@media screen and (max-width: 425px) {
   .error__description{
      bottom: -27px;
   }
}